
	<div class="col-lg-3">
			<div class=" navbar navbar-default sidebar-nav-fixed">
				<ul class="nav nav-stacked sidebar-text">
			  		<li class="active"><a>Category</a>
						<ul class="nav">
							<li>
								<a>Women</a>
								
								<ul class="nav">
									<li>
										<a>Ethnic Wear</a>
										
										<ul class="nav">
											<li>
												<a>Sarees</a>


												</li>

											</ul>

										</li>

									</ul>							
								</li>
							
							</ul>
					</li>
			
				<hr class="sidebar-divider">
			  		<li class="active"><a>Price</a>
				<div class="text-center">
					<span class="slider-label">
						<span class="WebRupee">Rs.</span><em><small>0</small></em>
						
					</span>
					<div class="inline1">
					<div class="noUiSlider"></div>
					</div>
				 	<span class="slider-label">
						<span class="WebRupee">Rs.</span><em><small>5,000</small></em>
					</span>
				</div>
				</li>
				<hr class="sidebar-divider">
			  		<li class="active"><a>Location</a>
						<ul class="nav">
							<li><div class="checkbox"><input type="checkbox"><label><a> South Delhi</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a> West Delhi</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a> East Delhi</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a> Central Delhi</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a> North Delhi</a></label></div></li>
						</ul>
					</li>
				<hr class="sidebar-divider">					
			  		<li class="active"><a>Size</a>
						<ul class="nav">
							<li><div class="checkbox"><input type="checkbox"><label><a> XS</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a> S</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a> M</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a> L</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a> XL</a></label></div></li>
						</ul>
					</li>
				<hr class="sidebar-divider">					
			  		<li class="active"><a>Colour</a>
						<ul class="nav">
							<li><p>
								<div class="checkbox"><input type="checkbox">&nbsp;<span class="badge blue-colour">&nbsp;</span> Blue (42)</div>
								<div class="checkbox"><input type="checkbox">&nbsp;<span class="badge red-colour">&nbsp;</span> Red (42)</div>
								<div class="checkbox"><input type="checkbox">&nbsp;<span class="badge yellow-colour">&nbsp;</span> Yellow (42)</div>
								<div class="checkbox"><input type="checkbox">&nbsp;<span class="badge green-colour">&nbsp;</span> Green (42)</div>
								<div class="checkbox"><input type="checkbox">&nbsp;<span class="badge black-colour">&nbsp;</span> Black (42)</div>			
								</p>
							</li>
						</ul>
					</li>
				<hr class="sidebar-divider">
					<li class="active"><a>Saree Type</a>
						
						<ul class="nav">
							<li><div class="checkbox"><input type="checkbox"><label><a> Cotton (23)</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a> Silk (12)</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a> Chiffon (2)</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a> Printed (1)</a></label></div></li>
						</ul>
												
					</li>					
				<hr class="sidebar-divider">					
					<li class="active"><a>Discount</a>
						
						<ul class="nav">
							<li><div class="checkbox"><input type="checkbox"><label><a> No Discount (23)</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a> &lt;25% (12)</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a> 25-50% (2)</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a> &gt;50% (1)</a></label></div></li>
						</ul>
												
					</li>
				<hr class="sidebar-divider">					
					<li class="active"><a>Occasion</a>
						
						<ul class="nav">
							<li><div class="checkbox"><input type="checkbox"><label><a> Formal (23)</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a> Partywear (12)</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a> Wedding (2)</a></label></div></li>
							<li><div class="checkbox"><input type="checkbox"><label><a> Casual (1)</a></label></div></li>
						</ul>
						
						
					</li>

				</ul>
	    	</div> <!-- /sidebar -->
	
	
		</div>
		<div class="col-lg-9">
			<div class="row">
				<div class="col-lg-6">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li><a href="#">Women</a></li>
				  <li>Ethnic Wear</li>
				  <li class="active">Sarees</li>
				</ol>
				</div>
					<div class="col-lg-6">
					<ul class="nav navbar-nav navbar-right">
						
						<li class="active"><a href="#">Product View</a></li>
						<li><a href="#">Store View</a></li>
					</div>
			</div>
			<div class="row">
				<div class="col-lg-8">
				<p><em>Displaying 500 results for "Sarees in South Delhi"</em></p>
				</div>
				<div class="col-lg-4">
					<div class="row">
						<div class="col-lg-4 col-lg-offset-3"> <p class="sortby">Sort by:</p> </div>
						<div class="col-lg-5">
							<div class="btn-group">
					  			<button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
					    			Relevance  &nbsp;<span class="caret"></span>
					  			</button>
					  			<ul class="dropdown-menu" role="menu">
					    			<li><a href="#">Relevance</a></li>
					    			<li><a href="#">Price (High to Low)</a></li>
					    			<li><a href="#">Price (Low to High)</a></li>
					    			<li><a href="#">Name (A-Z)</a></li>
					    			<li><a href="#">Name (Z-A)</a></li>
					  			</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<!-- Button trigger modal -\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

		  <!-- Modal -->
		  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		    <div class="modal-dialog">
		      <div class="modal-content">
		        <div class="modal-header">
		          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		          <h4 class="modal-title">Supernet Cotton Saree</h4>
		        </div>
		        <div class="modal-body">
		          ...
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		          <button type="button" class="btn btn-primary">Save changes</button>
		        </div>
		      </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
		  </div><!-- /.modal -->
			<div class="row">	
	        <div class="col-lg-3" ng-repeat = "product in products">
				<div class="thumbnail">
			      <a data-toggle="modal" href="#myModal"><img src="{{product.imgPath}}" alt="..."></a>
			      <div class="caption">
			        <p class="product-name">{{product.name}}</p>
					<p class="store-name">{{product.store}}</p>
			        <p class="price"><span class="WebRupee">Rs.</span> {{product.price}}</p>
			        <p><a data-toggle="modal" class="btn btn-primary" href="#myModal">See More &raquo;</a></p>
			      </div>
			    </div>
	        </div>

			<br>
			</div>	
			
			<ul class="pagination pull-right pagination-sm">
			  <li><a href="#">&laquo;</a></li>
			  <li class="active"><a href="#">1</a></li>
			  <li><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li>
			  <li><a href="#">5</a></li>
			  <li><a href="#">&raquo;</a></li>
			</ul>			
			
	    </div> <!-- /span -->
	  </div> <!-- /row -->