/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.logo{
	color: white;
}

.bg-header{
	
	background-image: url('../img/cover.jpg');
	
}
.search-text{
	font-family:HelveticaNeue-UltraLight;
	margin-top:0px;
	
}