/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;

  margin-bottom: 0px;
}

a.logo{
    max-height: 40px;
    overflow: visible;
    padding-top: 10px;
	
}

.login-form{
	
	height:26px;
}

.bg-header{
	
	background-image: url('../img/cover.jpg');
	box-shadow: 0px 4px 12px #aaaaaa;
}
.search-text{
	font-family:HelveticaNeue-UltraLight;
	margin-top:0px;
	
}

.search-form{
	box-shadow: 0px 0px 8px #555555;
	
}

.body-head{
	
	font-family:HelveticaNeue-Light;
	font-size:24px;
	color:#666666;
}

#main {
  overflow:auto;
  padding-bottom:80px; /* this needs to be bigger than footer height*/
}

#wrap {
  min-height: 100%;
}


.footer {
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear:both;
  padding-top:15px;
  padding-right:15px;
	text-align:right;
	background-color: #eeeeee;
	box-shadow: 0px 4px 12px #aaaaaa;
	border-top: 1px solid #dddddd;
}

.reviewer-pic{
max-height:60px;
	
}

.green{
	color:#77AD6F;
	
}

.red{
	
	color:#cc0000;
}
