/* Move down content because we have a fixed navbar that is 50px tall */

@font-face{
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeue-Roman.otf');
}

@font-face{
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeue-Bold.otf');
	font-weight:bold;
}

@font-face{
	font-family: 'HelveticaNeue UltraLight';
	src: url('../fonts/HelveticaNeue-UltraLight.otf');

}

@font-face{
	font-family: 'HelveticaNeue Light';
	src: url('../fonts/HelveticaNeue-Thin.otf');

}


body {
  padding-top: 50px;
  position:relative;
  margin-bottom: 0px;
}

a.logo{
    max-height: 40px;
    overflow: visible;
    padding-top: 10px;
	
}

.login-form{
	
	height:26px;
}

.bg-header{
	
	background-image: url('../img/cover.jpg');
	background-size:100%;
	height:450px;
	background-repeat:no-repeat;
	box-shadow: 0px 4px 12px #aaaaaa;
}
.search-text{
	font-family:'HelveticaNeue UltraLight';
	margin-top:0px;
	
}

.search-form{
	box-shadow: 0px 0px 8px #555555;
	
}

.body-head{
	
	font-family:'HelveticaNeue Light', Helvetica, Arial, sans-serif;
	font-size:24px;
	color:#F07241;
}

#main {
  overflow:auto;
  padding-bottom:80px; /* this needs to be bigger than footer height*/
}

#wrap {
  min-height: 100%;
}


.footer {
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear:both;
  padding-top:15px;
  padding-right:15px;
	text-align:right;
	background-color: #eeeeee;
	background-image:url('../img/footer-bg.jpg');
	box-shadow: 0px 4px 12px #aaaaaa;
	border-top: 1px solid #dddddd;
}

.reviewer-pic{
max-height:60px;
	
}

.green{
	color:#77AD6F;
	
}

.red{
	
	color:#cc0000;
}

/* SIDEBAR STUFF */
.sidebar-nav-fixed {
	

	top:30px;
	width:250px;
		
}

.sidebar-nav-fixed .nav > li > a {
	padding-left:5px;
	padding-bottom:2px;
	padding-top:5px;
	font-size:16px;
	color:#666666;
	
}

.sidebar-nav-fixed .nav .nav > li > a {
	padding-left:20px;
	padding-top:0px;
	padding-bottom:2px;
	font-size:90%;
	color:#F07241;
}

.sidebar-nav-fixed .nav .nav .nav > li > a {
	padding-left:40px;
	padding-top:0px;
	padding-bottom:2px;
	font-size:90%;
	color:#F07241;
}

.sidebar-nav-fixed .nav .nav .nav .nav > li > a {
	padding-left:60px;
	padding-top:0px;
	padding-bottom:2px;
	font-size:90%;
	color:#F07241;
}


.sidebar-text{
	padding-left:10px;
	
}

.sidebar-divider{
	
	margin-top: 10px;
	margin-left:10px;
	margin-right:20px;
	margin-bottom: 0px;
	border: 0;
	border-top: 1px solid #D5D5D5;
}

.affix{

top:-750px;
	
}


}

.pad-50{
	padding-top:30px;
	
}

.pad-20{
	padding-top:10px;
	
}


.main-content-padded{
	padding-left: 300px;
	
}

.sortby{
	padding-top:5px;
	
}

.slider-style{
	padding-left:10px;
	padding-right:10px;
	
}

/*BADGES*/

.blue-colour{
	background-color:#75AFFF;	
}
.red-colour{
	background-color:#cc0000;	
}
.green-colour{
	background-color:#88E876;	
}
.yellow-colour{
	background-color:#E7E939;	
}
.black-colour{
	background-color:#111211;	
}

.purple-colour{
	background-color:#593E99;	
}

.multi-colour{
	background-color:#636862;	
}

/*SLIDERS*/

.slider-label{
	display:inline-block;
	
}
.inline1{
	
	display:inline-block;
}

/*STORE PAGE*/

.storebg-header{
	
	background-image: url('../img/store-cover.jpg');
	height:250px;
	box-shadow: 0px 0px 12px #aaaaaa;
}
.store-header{
	
	font-family:'HelveticaNeue Light', Helvetica, Arial, sans-serif;
	padding-top:200px;
	padding-left:20px;
	font-size:24px;
	color:#ffffff;	
	
}

.reviewer-header{
	
	font-family:'HelveticaNeue Light', Helvetica, Arial, sans-serif;
	padding-top:200px;
	padding-left:20px;
	font-size:24px;
	color:#ffffff;	
	
}
.reviewer-main-pic{
	
	padding-top:150px;
	
}

.right-border{
	border-right: 1px solid #cccccc;
}

.small-icon{
	font-size:20px;
	color:#428bca;
	
}

.img-enlarged{
	box-shadow: 0px 0px 12px #ddd;
	border: 1px solid #eee;
	
}

.gold{
	color: #428bca ;	
}

.subtext{
font-size:12px;
margin-left:15px;
	
}

/*PRODUCT PAGE*/
.product-header{
	
	font-family:'HelveticaNeue Light', Helvetica, Arial, sans-serif;

	font-size:24px;
	color:#666;	
	
}


/*LOGIN MODAL*/

.modal-form{
	
	padding-top: 130px;
	width: 600px;
	
}

.btn-google{
	background-color:#df4a32;	
}

.btn-facebook{
	background-color:#5f78ae;	
	display: inline-block;

	

}
.facebook-login-icon{
	   line-height: 50px;
	 vertical-align: middle;
	display:inline-block;
}

.facebook-login-text{
	 vertical-align: middle;
	width:90%;
		display:inline-block;
}